.nav_bar {
  position: fixed;
  top: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 100px;
  color: white;
  z-index: 1;
}

.logo {
  margin: 0 64px;
}

.black_bar {
  position: absolute;
  left: 176px;
  width: 42%;
  height: 1px;
  color: hsl(225, 14%, 25%, 1);
  background-color: hsl(225, 14%, 25%, 1);
  border: 2px solid hsl(225, 14%, 25%, 1);
  border-radius: 10%;
  z-index: 1;
}

.main_nav {
  height: 100px;
  width: 50%;
  background-color: hsl(225, 14%, 16%, 0.2);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_destinations {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
}

.nav_destinations ul {
  margin: 0;
  position: absolute;
  top: 65%;
  left: 20%;
  margin: -25px 0 0 -25px;
}

.nav_destinations li {
  margin: 0 10px;
  display: block;
  float: left;
  text-align: center;
  height: 100%;
  /* transition: all ease-in-out .2s; */
}

.nav_destinations a {
  display: block;
  float: left;
  color: white;
  width: 100%;
  padding-bottom: 34px;
  text-decoration: none;
}

.nav_destinations a.active {
  border-bottom: 6px #ffffff solid;
}
.nav_destinations a.active:hover {
  border-bottom: 6px #ffffff solid;
}

.nav_destinations a:hover {
  border-bottom: 6px solid #ffffff3d;
}



@media only screen and (max-width: 1350px) {
  .black_bar{
    display: none;
  }

  .main_nav {
    width: 65%;
  }
}

@media only screen and (max-width: 1100px) {
  .nav_bar {
    top: 0;
  }

  .nav_destinations ul {
    left: 8%;
  }
}

@media only screen and (max-width: 950px) {
  .logo {
    margin-left: 32px;
  }

  .nav_destinations a span {
    display: none;
  }
}
